@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f172abf;
  --light-Background-color: #1e293b;
  --accent-color: #0ea5e9;
  --accent-hover-color: #38bdf8;
}
html{scroll-behavior:smooth}
html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(120,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E"); */
  background-attachment: fixed;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.darkBackground {
  background-color: #111827;
  color: #efefef;
}
.darkGray {
  background-color: #1f2937;
  color: #efefef;
}
.darkNavy {
  background-color: #0e131f;
}
.text-darkGray {
  color: #1f2937;
}
.lightBackground {
  background-color: var(--light-background-color);
}

.accentBackground {
  background-color: var(--accent-color);
}
.accentBackground:hover {
  background-color: var(--accent-hover-color);
}
.previewImage > div > button {
  display: none !important;
}
body::-webkit-scrollbar,
.notificationbox::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track,
.notificationbox::-webkit-scrollbar-track {
  background: rgb(221, 221, 221); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb,
.notificationbox::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(221, 221, 221); /* creates padding around scroll thumb */
}
/* Hero Carousel CSS */
#slider [type='radio'] {
  display: none;
}

#slider {
  height: 35vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 70%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(-30%, 0, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(-15%, 0, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.19);
  transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(15%, 0, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  transform: translate3d(30%, 0, -200px);
}

#slide1 {
  background: #efefef;
  /* background: rgba(79, 92, 235, 0.2); */
}
#slide2 {
  background: #efefef;
  /* background: rgba(37, 207, 170, 0.2); */
}
#slide3 {
  background: #efefef;
  /* background: rgba(255, 202, 64, 0.2); */
}
#slide4 {
  background: #efefef;
}
#slide5 {
  background: #efefef;
  /* background: rgba(255, 109, 61, 0.2); */
}
.gradBlue {
  background-image: linear-gradient(to right, #0053f2, #08a9ff);
  background-size: 100%;
  transition: all 0.5s;
}
.gradSky {
  background: rgb(0,221,241);
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}
.gradSky-vertical-white {
  background: rgb(0,221,241);
  background: linear-gradient(180deg, #0072ff 0%, #00d4ff00 6%);
}
.gradSky-vertical-gray {
  background: rgb(0,221,241);
  background: linear-gradient(180deg, #0072ff 0%, rgb(248, 249, 250) 6%);
}
.gradSky-vertical-dark {
  background: rgb(0,221,241);
  background: linear-gradient(180deg, #0072ff 0%, #00d4ff00 6%);
}
.gradPink {
  background-image: linear-gradient(to right, #DB02AF, #6A02C4);
  background-size: 100%;
  color: #ffffff;
  transition: all 0.5s;
}
.gradGreen {
  background-image: linear-gradient(to right, #44e09a, #3AB7B5);
  background-size: 100%;
  color: #ffffff;
  transition: all 0.5s;
}
.gradPurple {
  background: linear-gradient(35deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
  background: -webkit-linear-gradient(35deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
  background: -moz-linear-gradient(35deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
  background: -khtml-linear-gradient(35deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
}
.gradBlue:hover {
  background-size: 200%;
}
.textGradBlue {
  background: -webkit-linear-gradient(45deg, #0053f2, #08a9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradCyan {
  background: -webkit-linear-gradient(45deg, #2CC9D7, #5A80E7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradGreen {
  background: -webkit-linear-gradient(45deg, #44e09a, #3AB7B5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradBlue2 {
  background: -webkit-linear-gradient(45deg, #056AFE, #8071FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradRed {
  background: -webkit-linear-gradient(45deg, #FD727B, #ED5699);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textGradPink {
  background: -webkit-linear-gradient(90deg, #CEFFB8, #E7FFDF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.parallax-effect-img:hover > .inner-element { opacity: 1;}
.parallax-effect-img:hover > .overlay { opacity: 1;}
.parallax-effect {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
.inner-element {
  transform-origin: 2rem;
  transform: translateZ(100px);
  /* transform-style: preserve-3d; */
}
.browsebycategory { overflow: hidden; }
.browsebycategory .slick-track {display: inline-flex;}
.browsebycategory .slick-slider { overflow: hidden; }
.browsebycategory button { display: none !important; }
/* .inner-element .slick-track { position: relative; max-width: 500px; height: 485px;}
.inner-element .slick-track > * { position: absolute !important; top:0 !important; left: 0 !important;}
.inner-element .slick-track > div > div { width: 100%; height: 100%; }
.inner-element .slick-arrow { position: absolute; bottom: -60px; left: 50%; padding: 5px 15px; border: 1px solid #00000033; border-radius: 20px; font-size: 12px; transition: 0.3s; }
.inner-element .slick-arrow:hover { background: #00000010; }
.inner-element .slick-arrow.slick-prev { left:31%; }
.inner-element .slick-arrow.slick-next { right:34%; } */
/* .inner-element .slick-track .coverImage { width: 500px;} */

.slick-slide {
  visibility: hidden;
}
.slick-slide.slick-active {
  visibility: visible;
}

/* End of Hero Carousel CSS */

.imageContainer .overlay { display: none; }
.imageContainer:hover .overlay { display: flex;}
.featured .slick-list { overflow: initial; }
.popularvideowrapper .slick-slide > div { margin: 0 10px; }

/*Footer Social Media Shake up*/
.socialicon {
  outline: 1px solid rgb(56 189 248 / 0.2);
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
.socialicon:hover { outline-offset: 1px; }
.socialicon:hover svg { animation: shake 0.25s; }
.socialicon.youtube:hover { background-color: #ff0000;}
.socialicon.linkedin:hover { background-color: #0077b5;}
.socialicon.facebook:hover { background-color: #4267B2;}
.socialicon.instagram:hover { background-color: #E1306C;}
.socialicon.twitter:hover { background-color: #1DA1F2;}
.socialicon.telegram:hover { background-color: #2AABEE;}
@keyframes shake {
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(15deg); }
  40% { transform: rotate(-15deg); }
}
/*End of Footer social media shake up*/

.singleImageHolder:hover > .deleteButton { display: block}
@media screen and (min-width: 1400px){
  .grid-cols-6	{grid-template-columns: repeat(6, minmax(0, 1fr)) !important;}
}
@media screen and (max-width: 1399px) and (min-width: 768px){
  .grid-cols-6	{grid-template-columns: repeat(4, minmax(0, 1fr)) !important;}
}
@media screen and (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
  .shoutoutText {
    font-size: 46px;
  }
  .shoutoutDescription {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .grid-cols-6	{grid-template-columns: repeat(2, minmax(0, 1fr)) !important;}
  .logoText {
    display: none;
  }
  .shoutoutText {
    font-size: 30px;
  }
  .shoutoutDescription {
    font-size: 20px;
  }
  .cardCarousel {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  #slider label {
    width: 70%;
  }
  .heroSearchForm {
    margin: auto;
    margin-top: 28rem;
    margin-bottom: 4rem;
  }
  .heroSearchForm .searchfields {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .heroSearchForm .searchfields .searchfieldicon {
    padding-left: 0;
  }
  .nonMobileMenu {
    display: none;
  }
  .topCollectionWrapper {
    padding-top: 70px;
  }
  .howToWrapper {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .exploreWrapper {
    padding: 80px 20px 0 20px;
  }
  .searchOutputBox {
    margin-left: -115px;
  }
  .nftWrapper {
    margin: auto 1.1rem;
  }
  .inner-element .slick-track{
    max-width: 370px;
    max-height: 570px;
    overflow: hidden;
  }
  .inner-element .slick-track .coverImage { width: 340px; }
  .parallax-effect { width: 93%; position: relative; left: 12px; }
  .inner-element .slick-arrow.slick-prev { left:27%; }
}
.topCollectionWrapper, .herocarousel {
  position: relative;
}
.topCollectionWrapper::before, .herocarousel::before {
content: ' ';
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
backdrop-filter: blur(20px);
background: #000000aa;
z-index: 0;
}
.rewardingrenditions::before {
content: ' ';
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
backdrop-filter: blur(0px);
background: #000000aa;
z-index: -1;
}

/** New featured card design ***/

@property --rotate{
  syntax:  "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 65vh;
  --card-width: calc(var(var(var(--card-height) / 1.5)));
}
.featuredCard {

  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font: 1.5em;
  /* color: rgb(88 199 250 / 0%); */
  cursor: pointer;
}
.featuredCard:hover {
  /* color: rgb(88 199 250 / 100%);
  transition: color 1s; */
}
.featuredCard:hover::before, .featuredCard:hover::after{
  /* animation: none;
  opacity: 0; */
}
/* .featuredCard::before {
  content: '';
  width: 100%;
  height: 103.5%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), aqua, #3c67e3 43%, #4e00c2);
  position: absolute;
  top: -1.5%;
  left: 0;
  z-index: -1;
  animation: spin 8.5s linear infinite;
} */
/* .featuredCard::after {
  position: absolute;
  content: '';
  top: calc(var(--card-height) / 6);
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), aqua, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 8.5s linear infinite;
} */
@keyframes spin {
  0% { --rotate: 0deg }
  100% { --rotate: 359deg }
}
/** End of New featured card design ***/




/************************************************************/
/*** ADMIN CSS **/

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
  padding: 20px;
}
.card{
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
  padding:20px;
}
.card-header {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.5;
  opacity: 1;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(46, 46, 46);
}
.card-body h5 {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.375;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
}
.card-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: rgb(20 20 20 / 12%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(20 20 20 / 7%) 0rem 0.125rem 0.25rem -0.0625rem;
}

/* Unilevel Tree Design */
.tree ul {
	padding-top: 20px; position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 8px 0 8px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree ul li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	width: 0; height: 20px;
}

.tree li a{
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #33415599; color: #fff; border: 1px solid #33415533;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #334155;
}
/*tailwind fix, there is below class in tailwind , so custom code*/

/*Rewarding Renditions Landing Page*/
.alfaslab {
  font-family: 'Alfa Slab One', sans-serif;
  color: #ecffe1;
}
.navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: relative;
}
.navbar-collapse {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.header .navbar {
  padding-block: 1.35rem;
}
.collapse:not(.show) {
  display: none;
}
.justify-content-end {
  justify-content: flex-end!important;
}
.default-btn {
  background: linear-gradient(90deg,#0031A6,#001D5E);
  /* background: linear-gradient(90deg,#f6fff2,#c3ffa9); */
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #0d142f;
  color: #f6fff2;
  font-family: Alfa Slab One,cursive;
  font-size: 1.125rem;
  line-height: 50px;
  padding: 0 1.7rem;
  text-decoration: none;
  -webkit-transform-origin: right;
  transform-origin: right;
  transition: all .3s ease;
}
.default-btn {
  line-height: 56px;
  padding: 1rem 2.25rem;
}
.default-btn:hover {
  box-shadow: 0 5px 0 0 #000000;
}
.rrbanner {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: 100px;
}
.rrbanner__content h1, .rrbanner__content p {
  color: #ecffe1;
  margin-bottom: 20px;
}
.text--3d {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0d142f;
  -webkit-filter: drop-shadow(2px 5px 0 #0d142f);
  filter: drop-shadow(2px 5px 0 #0d142f);
}
.color--gradient-y {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(0deg,#f6fff2,#c3ffa9);
  -webkit-background-clip: text;
}
.text-uppercase {
  text-transform: uppercase!important;
}
.rrbanner h1 {
  font-size: calc(1.75rem + 5.14286vw);
}
.rrbanner__apes-item:first-child {
  left: 25%;
}
.rrbanner__apes-item {
  bottom: 0;
}
.collection h1, .collection h2, .collection h3, .collection h4, .collection h5, .collection h6,
.mint h1, .mint h2, .mint h3, .mint h4, .mint h5, .mint h6 {
  color: #ecffe1;
  font-family: Alfa Slab One,cursive;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.mint h6 {font-size:1.125rem}
.mint h4, .roadmap  h4 {font-size:1.575rem;}
.mint h2 {font-size: 2.5rem;}
.faq h2, .community h2, .footer h2 {font-size:6rem; line-height: normal;}
.collection__thumb img {
  border-radius: 10px;
}
.roadmap__item {

  /* background: linear-gradient(120deg,#5A0353,#F100CB,#5A0353); */
  background: linear-gradient(0deg,#f6fff2,#c3ffa9);
  border-radius: 10px;
  padding: 30px 20px;
  transition: all .3s ease;
  text-align: center;
}
.roadmap__inner {text-align: center; display: flex; justify-content: center; flex-direction: column; align-items: center;}
.roadmap__content h4, .roadmap__content p {
  /* color: #ffffff; */
  color: #0d142f;
}
.roadmap__content h4{
margin-bottom: 15px;
}
.team__wrapper .grid .col { display: flex; flex-direction: row; justify-content: center;}
.team__item {
  background: linear-gradient(0deg,#f6fff2,#c3ffa9);
  border-radius: 10px;
  text-align: center;
  transition: all .3s ease;
  padding: 40px;
}
.team__content {margin-top: 20px;}
.team__content h5 a {
  color: #0d142f;
}
.team__content p {
  color: #555;
  font-size: 1rem;
}

@media (max-width: 768px){
  .mint h6 {font-size:1.0rem}
  .mint h4, .roadmap  h4 {font-size:1.175rem;}
  .mint h2, .faq h2 , .community h2, .footer h2 {font-size:1.8rem;}
  .slick-prev, .slick-next {display: none !important;}
}
@media (min-width: 576px){

}
@media (min-width: 992px){
  .rrbanner {
      padding-block: 160px;
  }


}


@media (min-width: 1200px){
  .rewardingrenditions .container{
    max-width: 1200px;
  }
  .navbar-expand-xl .navbar-nav {
      flex-direction: row;
  }
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .header .navbar-collapse {
    margin-top: 0;
}
.navbar-expand-xl .navbar-collapse {
  display: flex!important;
  flex-basis: auto;
}

}
@media (min-width: 1400px){
  .rewardingrenditions .container{
    max-width: 1400px;
  }
  .rrbanner {
      padding-block: 220px;
  }
  h1 {
    font-size: 6.25rem;
}
.rrbanner__content p {
  font-size: 1.875rem;
}
.rrbanner__apes-item:first-child {
  left: 20%;
}
.rrbanner__apes-item {
  position: relative;
}

}